<div>
    <h2 id="page-heading">
        <span jhiTranslate="comprasGobUpApp.elementoOrden.home.title">Elemento Ordens</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-elemento-orden" [routerLink]="['/elemento-orden/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="comprasGobUpApp.elementoOrden.home.createLabel">
            Create new Elemento Orden
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="elementoOrdens">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="cantidad"><span jhiTranslate="comprasGobUpApp.elementoOrden.cantidad">Cantidad</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="precioTotal"><span jhiTranslate="comprasGobUpApp.elementoOrden.precioTotal">Precio Total</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="estatus"><span jhiTranslate="comprasGobUpApp.elementoOrden.estatus">Estatus</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="proveedorD"><span jhiTranslate="comprasGobUpApp.elementoOrden.proveedorD">Proveedor D</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="contratoMarcoD"><span jhiTranslate="comprasGobUpApp.elementoOrden.contratoMarcoD">Contrato Marco D</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="contratoMarco.descripcion"><span jhiTranslate="comprasGobUpApp.elementoOrden.contratoMarco">Contrato Marco</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="proveedor.nombre"><span jhiTranslate="comprasGobUpApp.elementoOrden.proveedor">Proveedor</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="ordenCompra.id"><span jhiTranslate="comprasGobUpApp.elementoOrden.ordenCompra">Orden Compra</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let elementoOrden of elementoOrdens ;trackBy: trackId">
                <td><a [routerLink]="['/elemento-orden', elementoOrden.id, 'view' ]">{{elementoOrden.id}}</a></td>
                <td>{{elementoOrden.cantidad}}</td>
                <td>{{elementoOrden.precioTotal}}</td>
                <td jhiTranslate="{{'comprasGobUpApp.EstatusElementoOrden.' + elementoOrden.estatus}}">{{elementoOrden.estatus}}</td>
                <td>{{elementoOrden.proveedorD}}</td>
                <td>{{elementoOrden.contratoMarcoD}}</td>
                <td>
                    <div *ngIf="elementoOrden.contratoMarco">
                        <a [routerLink]="['../contrato-marco', elementoOrden.contratoMarco?.id, 'view' ]" >{{elementoOrden.contratoMarco?.descripcion}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="elementoOrden.proveedor">
                        <a [routerLink]="['../proveedor', elementoOrden.proveedor?.id, 'view' ]" >{{elementoOrden.proveedor?.nombre}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="elementoOrden.ordenCompra">
                        <a [routerLink]="['../orden-compra', elementoOrden.ordenCompra?.id, 'view' ]" >{{elementoOrden.ordenCompra?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/elemento-orden', elementoOrden.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/elemento-orden', elementoOrden.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'elemento-orden/'+ elementoOrden.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="elementoOrdens && elementoOrdens.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
